<section class="about" id="about">
    <div class="container">
        <div class="about__block">
            <div class="about__content">
                <h2 class="about__title">
                    About us
                </h2>
                <div class="about__head">
                    <p class="about__subtitle">
                        Our сraftsmanship: сreating unique handmade furniture
                    </p>
                    <p class="about__descr">
                        Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled craftsmanship.
                    </p>
                </div>
                <ul class="about__benefits">
                    <li class="about__benefits-item">
                        <span data-aos="zoom-in" data-aos-duration="2000" class="about__item-number">
                            5+
                        </span>
                        <p data-aos="fade-up" data-aos-duration="1000" class="about__item-descr">
                            Years of experience creating handcrafted furniture
                        </p>
                    </li>
                    <li class="about__benefits-item">
                        <span data-aos="zoom-in" data-aos-duration="2000" class="about__item-number">
                            100%
                        </span>
                        <p data-aos="fade-up" data-aos-duration="1000" class="about__item-descr">
                            Sustainably sourced materials used in all of our furniture
                        </p>
                    </li>
                    <li class="about__benefits-item">
                        <span data-aos="zoom-in" data-aos-duration="2000" class="about__item-number">
                            500+
                        </span>
                        <p data-aos="fade-up" data-aos-duration="1000" class="about__item-descr">
                            Unique furniture designs crafted by our skilled artisans
                        </p>
                    </li>
                </ul>
            </div>
            <div data-aos="fade-down" data-aos-duration="1000" class="about__img">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/about/product-desktop.jpg 1x, ./img/about/product-desktop@2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./img/about/product-tab.jpg 1x, ./img/about/product-tab@2x.jpg 2x">
                    <source media="(min-width: 320px)" srcset="./img/about/product-mob.jpg 1x, ./img/about/product-mob@2x.jpg 2x">
                    <img class="about__img-photo" src="./img/about/product-mob.jpg" alt="Our сraftsmanship" width="704">
                </picture>
            </div>
        </div>
    </div>
</section>