<section class="bestsellers">
  <div class="container">
    <h2 class="title">BESTSELLERS</h2>
    <div class="bestsellers__block">
      <a class="bestsellers__link" href="#">
        <picture>
          <source
            srcset="
              ./img/bestsellers.img/best-mob-1-1x.jpg 1x,
              ./img/bestsellers.img/best-mob-1-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/bestsellers.img/best-tab-1-1x.jpg 1x,
              ./img/bestsellers.img/best-tab-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/bestsellers.img/best-desk-1-1x.jpg 1x,
              ./img/bestsellers.img/best-desk-1-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="./img/bestsellers.img/best-desk-1-1x.jpg"
            alt="furniture"
            width="704"
          />
        </picture>
        <div class="bestsellers__info-block">
          <p class="bestsellers__paragraph">The modern platform bed</p>
          <span>750$</span>
        </div>
      </a>
    </div>
    <ul class="bestsellers__list">
      <li class="bestsellers__list-item">
        <a class="bestsellers__link" href="#">
          <picture>
            <source
              srcset="
                ./img/bestsellers.img/best-mob-2-1x.jpg 1x,
                ./img/bestsellers.img/best-mob-2-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/best-tab-2-1x.jpg 1x,
                ./img/bestsellers.img/best-tab-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/best-desk-2-1x.jpg 1x,
                ./img/bestsellers.img/best-desk-2-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="../img/bestsellers.img/best-desk-2-1x.jpg"
              alt="furniture"
              width="343"
            />
          </picture>
          <div class="bestsellers__info-block">
            <p class="bestsellers__paragraph">The Cozy Lounge Chair</p>
            <span>230$</span>
          </div>
        </a>
      </li>
      <li class="bestsellers__list-item">
        <a class="bestsellers__link" href="#">
          <picture>
            <source
              srcset="
                ./img/bestsellers.img/best-mob-3-1x.jpg 1x,
                ./img/bestsellers.img/best-mob-3-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/best-tab-3-1x.jpg 1x,
                ./img/bestsellers.img/best-tab-3-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/best-desk-3-1x.jpg 1x,
                ./img/bestsellers.img/best-desk-3-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./img/bestsellers.img/best-desk-3-1x.jpg"
              alt="furniture"
              width="343"
            />
          </picture>
          <div class="bestsellers__info-block">
            <p class="bestsellers__paragraph">The industrial accent chair</p>
            <span>250$</span>
          </div>
        </a>
      </li>
      <li class="bestsellers__list-item">
        <a class="bestsellers__link" href="#">
          <picture>
            <source
              srcset="
                ./img/bestsellers.img/best-mob-4-1x.jpg 1x,
                ./img/bestsellers.img/best-mob-4-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/best-tab-4-1x.jpg 1x,
                ./img/bestsellers.img/best-tab-4-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/best-desk-4-1x.jpg 1x,
                ./img/bestsellers.img/best-desk-4-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./img/bestsellers.img/best-desk-4-1x.jpg"
              alt="furniture"
              width="343"
            />
          </picture>
          <div class="bestsellers__info-block">
            <p class="bestsellers__paragraph">The sleek stand</p>
            <span>300$</span>
          </div>
        </a>
      </li>
      <li class="bestsellers__list-item">
        <a class="bestsellers__link" href="#">
          <picture>
            <source
              srcset="
                ./img/bestsellers.img/best-mob-5-1x.jpg 1x,
                ./img/bestsellers.img/best-mob-5-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/best-tab-5-1x.jpg 1x,
                ./img/bestsellers.img/best-tab-5-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/best-desk-5-1x.jpg 1x,
                ./img/bestsellers.img/best-desk-5-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./img/bestsellers.img/best-desk-5-1x.jpg"
              alt="furniture"
              width="343"
            />
          </picture>
          <div class="bestsellers__info-block">
            <p class="bestsellers__paragraph">The minimalist sofa</p>
            <span>650$</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
