<footer class="footer">
  <div class="container">
    <div class="footer__cover">
      <div class="footer__wrapper">
        <a class="logo" href="./">
          <svg class="logo__icon">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="footer__list-icons">
          <li class="footer__item-icons">
            <a
              class="footer__link-icons"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg>
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item-icons">
            <a
              class="footer__link-icons"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg>
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item-icons">
            <a
              class="footer__link-icons"
              href="https://www.youtube.com/"
              target="_blank"
            >
              <svg>
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <nav class="footer__nav">
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="#about"> About us </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#products"> Our products </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#price"> Prices </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#bestsellers"> Bestsellers </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#reviews"> Reviews </a>
          </li>
        </ul>
      </nav>

      <address class="footer__address">
        <ul class="footer__list-address">
          <li class="footer__item-address">
            <a
              class="footer__link-address"
              href="https://goo.gl/maps/Khp3vvSs8MhtMgBS7"
              target="_blank"
              rel="noopener noreferrer"
              >Obolonsky Prospect, 14, Kyiv</a
            >
          </li>
          <li class="footer__item-address">
            <p class="footer__link-address">Daily 10:00-21:00</p>
          </li>
        </ul>

        <ul class="footer__list-tel">
          <li class="footer__item-tel">
            <a class="footer__link-tel" href="tel:+380669384758"
              >+380669384758</a
            >
          </li>
          <li class="footer__item-tel">
            <a class="footer__link-tel" href="tel:+380679384758"
              >+380679384758</a
            >
          </li>
        </ul>

        <a class="footter__mail" href="mailto:minimal.furniture@gmail.com"
          >minimal.furniture@gmail.com</a
        >
      </address>
    </div>

    <p class="footer__privacy">
      By using this website, you agree to the
      <a class="footer__privacy-span" href="#">Terms of Service</a>
      and
      <a class="footer__privacy-span" href="#">Privacy Policy</a>
    </p>
  </div>
</footer>
