<header class="header">
    <div class="container">
        <div class="header__block">
            <a class="logo" href="./">
                <svg class="logo__icon">
                    <use href="./img/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <nav class="header__nav">
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link" href="#about">
                            About us
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#products">
                            Our products
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#price">
                            Prices
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#bestsellers">
                            Bestsellers
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#reviews">
                            Reviews
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#subscription">
                            Contacts
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="header__button" type="button" aria-expanded="false">
                <svg class="header__button-icon">
                    <use class="header__button-icon-burger" href="./img/icons.svg#icon-burger"></use>
                    <use class="header__button-icon-close" href="./img/icons.svg#icon-close"></use>
                </svg>
            </button>
        </div>
    </div>
    </div>
</header>

<nav class="mobile-menu">
    <ul class="menu" id="menu">
        <li class="menu__item">
            <a class="menu__link" href="#about">
                About us
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#products">
                Our products
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#price">
                Prices
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#bestsellers">
                Bestsellers
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#reviews">
                Reviews
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#subscription">
                Contacts
            </a>
        </li>
    </ul>
</nav>

<button class="scroll-button" id="scrollToTopButton" type="button">
    <svg class="scroll-button__icon">
        <use href="./img/icons.svg#icon-up"></use>
    </svg>
</button>