<header class="header">
    <div class="container">
        <div class="header__block">
            <a class="logo" href="./">
                <svg class="logo__icon">
                    <use href="./img/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <nav class="header__nav">
                <ul class="menu" id="menu">
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            About us
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Our products
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Prices
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Bestsellers
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Reviews
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Contacts
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="header__button" type="button" aria-expanded="false">
                <svg class="header__button-icon">
                    <use class="header__button-icon-burger" href="./img/icons.svg#icon-burger"></use>
                    <use class="header__button-icon-close" href="./img/icons.svg#icon-close"></use>
                </svg>
            </button>
        </div>
     </div>
  </div>
</header>
