<section class="price">
  <div class="container">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
    <ul class="price__list" >
      <li class="price__list-item">
        <h3 class="price__title">Chairs</h3>
        <p class="price__text">from 200$</p>
      </li>
      <li class="price__list-item">
        <h3 class="price__title">Tables</h3>
        <p class="price__text">from 250$</p>
      </li>
      <li class="price__list-item">
        <h3 class="price__title">Dressers</h3>
        <p class="price__text">from 300$</p>
      </li>
      <li class="price__list-item">
        <h3 class="price__title">Sofas</h3>
        <p class="price__text">from 500$</p>
      </li>
    </ul>
  </div>
</section>
