<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minimal</title>
  </head>
  <body>
    <section>
      <div>
        <h2>Hidden header</h2>
        <a href="#">Chairs</a>
        <p>from 200$</p>
        <a href="#">Tables</a>
        <p>from 250$</p>
        <a href="#">Dressers</a>
        <p>from 300$</p>
        <a href="#">Sofas</a>
        <p>from 500$</p>
      </div>
    </section>
  </body>
</html>
