<section class="products">
    <div class="container"> 
        <h2 class="title">OUR PRODUCTS</h2>
        <ul class="products_list">
            <li class="products_list-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/products.img/prod-1.jpg 1x, ./img/products.img/prod-1-2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./img/products.img/prod-1-tab.jpg 1x, ./img/products.img/prod-1-tab-2x.jpg 2x">
                    <source media="(min-width: 320px)" srcset="./img/products.img/prod-1-mob.jpg 1x, ./img/products.img/prod-1-mob-2x.jpg 2x">
                    <img class="products__img-photo" src="./img/products.img/prod-1-mob.jpg" alt="cabinet" width="344">
                </picture>
                <h3 class="products_title">Minimalist storage solutions</h3>
            </li>
            <li class="products_list-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/products.img/prod-2.jpg 1x, ./img/products.img/prod-2-2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./img/products.img/prod-2-tab.jpg 1x, ./img/products.img/prod-2-tab-2x.jpg 2x">
                    <img class="products__img-photo" src="./img/products.img/prod-2.jpg 1x" alt="living-room" width="344">
                </picture>
                <h3 class="products_title">Handcrafted minimalist seating</h3>
            </li>
            <li class="products_list-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/products.img/prod-3.jpg 1x, ./img/products.img/prod-3-2x.jpg 2x">
                    <img class="products__img-photo" src="./img/products.img/prod-3.jpg" alt="dining-room" width="344">
                </picture>
                <h3 class="products_title">Sleek and simple tables</h3>
            </li>
            <li class="products_list-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/products.img/prod-4.jpg 1x, ./img/products.img/prod-4-2x.jpg 2x">
                    <img class="products__img-photo" src="./img/products.img/prod-4.jpg" alt="chair" width="344">
                </picture>
                <h3 class="products_title">Minimalist seating for every space</h3>
            </li>
        </ul>
    </div>
</section>