<section class="reviews__section">
  <div class="reviews__container container">
    <h2 class="reviews__title">Clients reviews</h2>
    <ul class="reviews__list list">
      <li class="reviews__list-item">
        <div class="reviews__list-customer">
          <div class="reviews__list-customer-img-block">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/reviews/Alexandra-dream_1-x.png 1x,
                  ./img/reviews/Alexandra-dream_2-x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/reviews/Alexandra-dream_1-x.png 1x,
                  ./img/reviews/Alexandra-dream_2-x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/reviews/Alexandra-dream_mob_1-x.png 1x,
                  ./img/reviews/Alexandra-dream_mob_2-x.png 2x
                "
              />
              <img
                class="reviews__list-customer-image"
                src="./img/reviews/Alexandra-dream_1-x.png"
                alt="Alexandra Dream"
                width="56"
              />
            </picture>
          </div>
          <h3 class="reviews__list-customer-title">Alexandra dream</h3>
          <p class="reviews__list-customer-text">1 week ago</p>
        </div>
        <p class="reviews__list-text">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="reviews__list-item">
        <div class="reviews__list-customer">
          <div class="reviews__list-customer-img-block">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/reviews/James-Williams_1-x.png 1x,
                  ./img/reviews/James-Williams_2-x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/reviews/James-Williams_1-x.png 1x,
                  ./img/reviews/James-Williams_2-x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/reviews/James-Williams_1-x.png 1x,
                  ./img/reviews/James-Williams_2-x.png 2x
                "
              />
              <img
                class="reviews__list-customer-image"
                src="./img/reviews/James-Williams_1-x.png"
                alt="James Williams"
                width="56"
              />
            </picture>
          </div>
          <h3 class="reviews__list-customer-title">James Williams</h3>
          <p class="reviews__list-customer-text">A week ago</p>
        </div>
        <p class="reviews__list-text">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="reviews__list-item">
        <div class="reviews__list-customer">
          <div class="reviews__list-customer-img-block">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/reviews/Emily-Watson_1-x.png 1x,
                  ./img/reviews/Emily-Watson_2-x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/reviews/Emily-Watson_1-x.png 1x,
                  ./img/reviews/Emily-Watson_2-x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/reviews/Emily-Watson_1-x.png 1x,
                  ./img/reviews/Emily-Watson_2-x.png 2x
                "
              />
              <img
                class="reviews__list-customer-image"
                src="./img/reviews/Emily-Watson_1-x.png"
                alt="Emily Watson"
                width="56"
              />
            </picture>
          </div>
          <h3 class="reviews__list-customer-title">Emily Watson</h3>
          <p class="reviews__list-customer-text">3 week ago</p>
        </div>
        <p class="reviews__list-text">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
