<section class="subscription">
    <div class="container">
        <h2 class="title">Newsletter</h2>
        <p class="subscription__main-text">
            Every week we will send you new designs and information about sales.
        </p>
        <form class="subscription__form">
            <div class="subscription__form-element">
                <div class="subscription__input-wrap">
                    <input type="text" class="subscription__input" name="user-name" id="user-name" placeholder="Name"
                        maxlength="16" minlength="2" required>
                </div>
            </div>
            <div class="subscription__form-element">
                <div class="subscription__input-wrap">
                    <input type="email" class="subscription__input" name="user-email" id="user-email"
                        placeholder="E-mail" required>
                </div>
            </div>
            <div class="subscription__container-check">
                <input type="checkbox" id="user-privacy" name="user-privacy" value="true"
                    class="subscription__check visually-hidden" />
                <label for="user-privacy" class="subscription__check-text">
                    <span class="subscription__span">
                        <svg class="subscription__icon-check" width="13" height="13">
                            <use href="./img/icons.svg#icon-check"></use>
                        </svg>
                    </span>
                    Agree to subscribe to the newsletter
                </label>
            </div>
            <button type="submit" class="btn">Send</button>
        </form>
        <picture>
            <source srcset="
              ./img/subscription/subscriptoin_deck-1x.jpg 1x,
              ./img/subscription/subscriptoin_deck-2x.jpg 2x
            " media="(min-width: 1440px)" />
            <source srcset="
            ./img/subscription/subscriptoin_tab-1x.jpg 1x,
            ./img/subscription/subscriptoin_tab-2x.jpg 2x
            " media="(min-width: 768px)" />
            <source srcset="
            ./img/subscription/subscriptoin_mob-1x.jpg 1x,
            ./img/subscription/subscriptoin_mob-2x.jpg 2x
            " media="(min-width: 320px)" />
            <img src="./img/subscription/subscriptoin_uni.jpg" alt="sofa and table with vase" width="100%" />
    </div>
</section>