.about {
    transition: all 300ms ease-in-out;
    padding: 64px 0 32px;
}

.about__block {
    display: flex;
    flex-wrap: wrap;
}

.about__content {
    margin-bottom: 64px;
}

.about__title {
    font-weight: 400;
    font-size: inherit;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.about__title::before {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: var(--blue-font);
}

.about__head {
    margin-bottom: 30px;
}

.about__subtitle {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about__benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 170px;
    margin: 0 auto;
}

.about__benefits-item {
    text-align: center;
}

.about__item-number {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

@media (min-width: 375px) {
    .about__subtitle {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    .about__content {
        background-color: var(--light-blue);
        padding: 36px 64px;
        margin-bottom: 30px;
    }

    .about__head {
        max-width: 530px;
    }

    .about__subtitle {
        font-size: 32px;
        line-height: 1.41;
    }

    .about__benefits {
        gap: 33px;
        max-width: 100%;
    }
    .about__benefits-item {
        flex-basis: calc((100% - 66px) / 3);
    }

    .about__item-descr {
        font-size: 18px;
    }
}

@media (min-width: 1440px) {
    .about__block {
        flex-wrap: nowrap;
        align-items: center;
        gap: 24px;
    }

    .about__content {
        max-width: 760px;
        padding-right: 69px;
        padding-left: 69px;
        margin-bottom: 0;
    }

    .about__benefits {
        gap: 56px;
    }

    .about__benefits-item {
        flex-basis: calc((100% - 112px) / 3);
    }

    .about__item-descr {
        margin-top: 19px;
    }
}