.bestsellers .container {
  padding: 64px 16px;
}
.bestsellers .title {
  margin-bottom: 21px;
}
.bestsellers__list-item:nth-child(n + 3) {
  display: none;
}
.bestsellers__info-block {
  margin-top: 14px;
  margin-bottom: 30px;
}
.bestsellers__paragraph {
  color: var(--blue-font, #0a224a);
}
.bestsellers__span {
  color: var(--blue-font, #0a224a);
  font-weight: 700;
}

/* @media screen and (min-width: 768px) {
  .bestsellers__list-item:nth-child(n + 3) {
    display: block;
  }
  .bestsellers__list {
    display: flex;
    flex-wrap: wrap;
  }
  .bestsellers__list-item {
    width: calc((100% - 32px) / 2);
  }
} */
