.bestsellers {
  padding: 32px 0;
}
.bestsellers .title {
  margin-bottom: 21px;
}
.bestsellers__block {
  margin-bottom: 30px;
}
.bestsellers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.bestsellers__list-item:nth-child(n + 3) {
  display: none;
}
.bestsellers__info-block {
  margin-top: 14px;
}
.bestsellers__paragraph {
  color: var(--blue-font);
  margin-bottom: 10px;
}
.bestsellers__span {
  color: var(--blue-font);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .bestsellers {
    padding: 50px 0 100px;
  }
  .bestsellers__block {
    margin-bottom: 32px;
  }
  .bestsellers__list-item:nth-child(n + 3) {
    display: block;
  }
  .bestsellers__list {
    gap: 32px;
  }
  .bestsellers__list-item {
    width: calc((100% - 32px) / 2);
  }
  .bestsellers__paragraph,
  .bestsellers__span {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .bestsellers__wrapper {
    display: flex;
    gap: 24px;
    max-width: 1096px;
    margin: 0 auto;
  }
  .bestsellers__block {
    margin-bottom: 0;
  }
  .bestsellers__list {
    max-width: 536px;
    gap: 25px 20px;
  }
  .bestsellers__list-item {
    width: calc((100% - 20px) / 2);
  }
}
