.footer {
  background: var(--blue-font, #0a224a);
  padding-top: 36px;
  padding-bottom: 16px;
}

.footer .container {
}

.footer__cover {
  display: flex;
  margin-bottom: 64px;
  flex-direction: column;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.footer .logo {
  display: inline-block;
}

.footer .logo__icon {
  fill: var(--white);
}

.footer__list-icons {
  display: flex;
  gap: 16px;
}

.footer__item-icons {
}

.footer__link-icons svg {
  fill: var(--white);
  width: 28px;
  height: 28px;
}

.footer__nav {
  margin-bottom: 36px;
}

.footer .menu {
  gap: 8px;
}

.footer .menu__item {
}

.footer .menu__link {
  color: var(--white, #fff);
}

.footer__address {
  color: var(--white, #fff);
  line-height: normal;
  letter-spacing: 0.01em;
}

.footer__list-address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 36px;
}

.footer__item-address {
}

.footer__link-address {
}

.footer__list-tel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__item-tel {
}

.footer__link-tel {
}

.footter__mail {
  display: none;
}

.footer__privacy {
  color: var(--white, #fff);
  text-align: center;
  font-size: 11px;
  line-height: 1.16;
  letter-spacing: 0.09em;
  max-width: 310px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
}

.footer__privacy-span {
  text-decoration-line: underline;
}

/* !_____________________MEDIA-375________________________ */

@media (min-width: 375px) {
  .footer__privacy {
    font-size: 12px;
  }
}

/* !_____________________MEDIA-768________________________ */

@media (min-width: 768px) {
  .footer {
    padding-bottom: 36px;
  }

  .footer__cover {
    position: relative;
  }

  .footer__wrapper {
    margin-bottom: 20px;
  }

  .footer__link-icons svg {
    width: 40px;
    height: 40px;
  }

  .footer__nav {
    position: absolute;
    top: 0px;
    right: 216px;
    margin-bottom: 0;
  }

  .footer .menu {
    gap: 16px;
    padding: 8px;
  }

  .footer__address {
    font-size: 19px;
  }

  .footer__list-address {
    gap: 24px;
    margin-bottom: 64px;
  }

  .footer__list-tel {
    gap: 24px;
    margin-bottom: 24px;
  }

  .footter__mail {
    display: inline-block;
  }

  .footer__privacy {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.07em;
    max-width: 616px;
  }
}

/* !_____________________MEDIA-1440________________________ */

@media (min-width: 1440px) {
  .footer .menu {
    flex-direction: row;
  }

  .footer__cover {
    margin-bottom: 35px;
  }

  .footer__wrapper {
    margin-bottom: 27px;
  }

  .footer__list-icons svg {
    gap: 30px;
  }

  .footer__nav {
    right: 468px;
  }

  .footer .menu {
    gap: 30px;
  }

  .footer__address {
    display: flex;
  }

  .footer__list-address {
    margin: 0 87px 0 0;
  }

  .footer__list-tel {
    margin: 0 82px 0 0;
  }
}
