.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--light-blue);
    padding: 28px 0;
}

.header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: none;
}

.header .menu, .mobile-menu .menu {
    gap: 17px;
    text-align: center;
    padding: 8px;
}

.header .menu {
    flex-direction: row;
}

.header__button.is-open .header__button-icon-close {
    opacity: 1;
    visibility: visible;
}

.header__button.is-open .header__button-icon-burger {
    opacity: 0;
    visibility: hidden;
}

.header__button-icon {
    width: 32px;
    height: 32px;
    fill: transparent;
    stroke: var(--blue-font);
}

.header__button-icon-burger {
    position: relative;
    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease-in-out,
        visibility 300ms ease-in-out;
}

.header__button-icon-close {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out,
        visibility 300ms ease-in-out;
}

.mobile-menu {
    position: fixed;
    top: 88px;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
    transition: transform 300ms ease-in-out,
                background-color 300ms ease-in-out;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu .menu {
    margin-top: 114px;
}

.scroll-button {
    position: fixed;
    right: 50px;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blue-font);
    fill: var(--white);
    border: 1px solid var(--light-blue);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.scroll-button__icon {
    width: 22px;
    height: 22px;
    margin: 0 auto;
}

@media (min-width: 768px) {

    .mobile-menu .menu {
        gap: 30px;
        margin-top: 150px;
    }
    
    .header__button-icon {
        width: 40px;
        height: 40px;
    }

    .scroll-button {
        width: 54px;
        height: 54px;
    }

    .scroll-button__icon {
        width: 28px;
        height: 28px;
    }
}

@media (min-width: 1440px) {
    .header {
        padding: 26px 0;
    }
    .header__nav {
        display: block;
    }

    .header__button {
        display: none;
    }
}