.price{
   padding: 32px 0;
}

.price__list{
  display: flex;
  flex-direction: column;
}

.price__list-item {
   padding: 30px 0;
   border-top: 1px solid black;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .price__list-item:last-child{
   border-bottom: 1px solid black;
 }

 .price__title{
  text-transform: uppercase;
  color: var(--blue-font, #0A224A);
font-size: 28px;
font-weight: 400;
 }

 .price__text{
  color: var(--blue-font, #0A224A);
font-size: 16px;
font-weight: 700;
 }

 @media screen and (min-width: 768px) {
  .price{
    padding: 50px 0;
  }
  .price__title{
    font-size: 32px;
    line-height: 45px;
  }
  .price__text{
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .price__list {
    max-width: 1096px;
    margin: 0 auto;
  }
}
