/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.eot');
  src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.btn {
  width: 224px;
  height: 50px;
  color: var(--white);
  background-color: var(--blue-font);
}

.title {
  color: var(--blue-font);
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.logo__icon {
  width: 100px;
  height: 16px;
  fill: var(--blue-font);
}

.menu {
  display: flex;
  flex-direction: column;
}

.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .logo__icon {
    width: 127px;
    height: 16px;
    fill: var(--blue-font);
  }

  .menu__link {
    font-size: 18px;
  }

  .title {
    font-size: 32px;
    line-height: 1.41;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1350px;
    padding: 0 15px;
  }
}