.reviews {
	background-color: var(--light-blue);
	padding: 36px 0;
}

.reviews__list-item:not(:first-child) {
	display: none;
}
.reviews__list-item {
	background-color: var(--white);
	border-radius: 8px;
	padding: 24px;
}
.reviews .title {
	margin-bottom: 30px;
}
.reviews__list-customer {
	display: flex;
	align-items: center;
	gap: 14px;
	margin-bottom: 24px;
}

.reviews__list-customer-title {
	font-size: 18px;
	text-transform: uppercase;
}
.reviews__list-customer-content {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.reviews__list-customer-text {
	font-size: 14px;
	line-height: 1.29;
	color: rgba(var(--blue-font), 0.8);
}
.reviews__list-text {
	font-size: 14px;
	line-height: 1.43;
	color: var(--blue-font);
}
@media (min-width: 768px) {
	.reviews__list {
		display: flex;
		gap: 16px;
	}
	.reviews__list-item:not(:last-child) {
		display: initial;
	}
	.reviews__list-item {
		max-width: calc((100% - 16px) / 2);
	}
	.reviews__list-customer-title {
		font-size: 20px;
		line-height: 2.25;
		}
	.reviews__list-customer-text {
		font-size: 16px;
		line-height: 1.5;
	}
		.reviews__list-text {
		font-size: 18px;
		line-height: 1.5;
	}
	.reviews__list-customer-content {
		gap: 4px;
	}
	.reviews__list-customer {
		margin-bottom: 14px;
	}
}
@media (min-width: 1440px) {
	.reviews {
		padding: 60px 0;
	}
	.reviews__list {
		gap: 24px;
	}
	.reviews__list-item:last-child{
		display: initial;
	}
	.reviews__list-item {
		max-width: calc((100% - 48px) / 3);
		padding: 32px;
	}
	.reviews__list-customer {
		margin-bottom: 16px;
	}
}